@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background: linear-gradient(180deg, #a8edea, #fed6e3);
    background-color: #a8edea;
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #333;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Dark mode version */
@media (prefers-color-scheme: dark) {
    .gradient-bg {
        background: linear-gradient(180deg, #1e3b8aed, #1e293b);
        background-color: #1e3b8a;
        background-size: 400% 400%;
        animation: gradientAnimation 15s ease infinite;
        color: #f3f4f6;
    }
}